ACTION=="add", SUBSYSTEM=="sound", KERNEL=="controlC*", KERNELS!="card*", TEST=="/home/rpdzkj/sixth/ljswork/hisi/hi351xdv500/work/alsa/alsa-utils-1.2.6/install/sbin", TEST=="/home/rpdzkj/sixth/ljswork/hisi/hi351xdv500/work/alsa/alsa-utils-1.2.6/install/share/alsa", GOTO="alsa_restore_go"
GOTO="alsa_restore_end"

LABEL="alsa_restore_go"
TEST!="/etc/alsa/state-daemon.conf", RUN+="/home/rpdzkj/sixth/ljswork/hisi/hi351xdv500/work/alsa/alsa-utils-1.2.6/install/sbin/alsactl restore $attr{device/number}"
TEST=="/etc/alsa/state-daemon.conf", RUN+="/home/rpdzkj/sixth/ljswork/hisi/hi351xdv500/work/alsa/alsa-utils-1.2.6/install/sbin/alsactl nrestore $attr{device/number}"

LABEL="alsa_restore_end"
